@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 0;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	height: 50px;
	background: #000;
	color: #fff;
	padding: 0 .5rem 0 1rem;
}

header .logo{
	line-height: 50px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

main {
	/* Use a margin to center the page */
	margin: 0 auto;

	/* Set the width of the content */
	width: 960px;

	/* For smaller screens to not exceed the max screen width */
	max-width: 100%;
}

nav {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li{
	display: inline;
	text-align: right;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
	display: inline-block;
	padding: 0 .5rem;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
}

nav ul li a:hover{
	background: #fff;
	color: #000;
}

td {
	padding-right: 2em;
}

textarea {
	width: 500px;
	height: 100px;
}

.avatar {
	border-radius: 50%; 
	float: left; 
	margin-right: 1em;
}

#con-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#con-form {
	background-color: #A9A9A9;
	display: flex;
	flex-direction: column;
	padding: 1em;
	justify-content: center;
	max-width: 75%;
}

#con-tainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.res-certs {
	display: flex;
	justify-content: left;
}

.res-certs > ul {
	list-style-type: none;
}

.res-co-date {
	display: flex;
	justify-content: space-between;
}

.res-comps {
	display: flex;
	justify-content: space-around;
}

.res-comps > ul {
	list-style-type: circle;
}

.res-hl {
	display: flex;
	justify-content: center;
}

.res-hl-con {
	display: flex;
	justify-content: space-around;
}

.res-sch-date {
	display: flex;
	justify-content: space-between;
}




#toggleMenu {
	display: none;
	color: #fff;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 960px)  {
	
	#toggleMenu {
		display: block;
		float: right;
		line-height: 50px;
	}

	header {
		position: relative;
	}

	body {
		padding: 0.5em;
	}

	nav {
		position: absolute;
		display:none;
		background: #000;
		top: 50px;
		left: 0;
		right: 0;
	}

	nav ul li a,
	nav ul li a:link,
	nav ul li a:visited{
		display: block;
		border-bottom: 1px solid #777;
	}

}