a {
  color: yellow;
}

a:hover {
  color: fuchsia;
  cursor: pointer;
}

a:visited {
  color: rgb(50,205,50);
}

body {
  position: relative;
  background-image: url("../images/Galaxy.jpg");
  color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
}

header {
  height: 50px;
  background-color: rgba(0,0,0,0.5);
  padding: 0 0.5rem 0 1rem;
  color: #fff;
}

header .logo {
  line-height: 50px;
  font-weight: bold;
}

input {
  width: 90%;
  border: none;
}

label {
  color: #99FFFF;
}

main {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  display: inline-block;
  padding: 0 0.5rem;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  z-index: 1;
}

nav ul li a:hover {
  background-color: rgba(211,211,211,0.3);
  color: yellow;
}

textarea {
  width: 90%;
  border: none;
}
.avatar {
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.card {
  background: transparent;
  padding: 5%;
  margin-bottom: 1.5em;
}

.contactForm {
  background-color: rgba(0,0,0,0.4);
  padding: 10%;
  border: 2px solid white;
  margin: 10% auto 10% auto;
  min-height: 50%;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
}

.intro {
  height: 90vh;
  display: flex;
  align-items: center;
}

.res-certs {
  display: flex;
  justify-content: left;
}

.res-certs > ul {
  list-style-type: none;

}

.res-co-date {
  display: flex;
  justify-content: space-between;
}

.res-comps {
  display: flex;
}

.res-comps > ul {
  list-style-type: circle;
}

.res-hl {
  display: flex;
  justify-content: center;
}

.res-hl-con {
  display: flex;
  justify-content: space-around;
}

.res-sch-date {
  display: flex;
  justify-content: space-between;
}

.text-error {
  color: yellow;
}

#about_me {
  background-color: rgba(0,0,0,0.5);
  border: none;
  padding: 1em;
}

#Content {
  margin: 3em auto 0 auto;

}

#con-intro {
  background-color: rgba(0,0,0, 0.4);
  margin-top: 1.5em;
  padding: 1em;
}

#Headline {
  color: rgb(255,255,255);
  text-shadow: 5px -10px 10px black;
  background-color: rgba(211,211,211,0.2);
  border: none;
}

#logo {
  color: white;
  text-decoration: none;
}

#toggleMenu {
  display: none;
}

@media only screen and (max-width: 960px) {

  #toggleMenu {
    display: block;
    float: right;
    line-height: 50px;
  }

  header {
    position: relative;
    z-index: 1
  }

  nav {
    position: absolute;
    display: none;
    top: 50px;
    left: 0;
    right: 0;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
  }
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited {
    display: block;
  }
}
